*.egg
*.py[co]
*.komodoproject
.cache/
.coverage
.coveralls
.DS_Store
.tox
__pycache__
build/
coverage.xml
dist/
django_admin_honeypot.egg-info/
django_honeypot_admin.egg-info/
docs/_build/
pep8.txt
venv